# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform working directory
.terraform/

# Sensitive variable files
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc